/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
}

/* Toast styles */
:root {
  --as-toast-border: 1px solid #e8ebee;
  --as-toast-btn-border: none;
  --as-toast-info-border-color: #519259;
  --as-toast-info-background: #cee5d0;
  --as-toast-info-color: #519259;
  --as-toast-warn-border-color: #dd4a48;
  --as-toast-warn-background: #ffafaf;
  --as-toast-warn-color: #dd4a48;
}
